.navBar {
  width: 1200px;
  height: 95px;
  margin: 0 0 38px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23px 99px 27px 100px;
}

.books-section {
  width: 1400px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

#logo {
  width: 240px;
  height: 37px;
  margin: 6px 47px 2px 0;
  font-family: Montserrat Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

#books {
  width: 59px;
  height: 16px;
  margin: 18px 41px 11px 0;
  font-family: Montserrat Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

#categoryDropdown {
  width: 105px;
  height: 16px;
  margin: 18px 664px 11px 41px;
  opacity: 0.5;
  font-family: Montserrat Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.logoSec {
  width: 45px;
  height: 45px;
  margin: 0 0 0 664px;
  padding: 10px;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#logo1 {
  width: 40px;
  height: 40px;
}

.books-table {
  padding-bottom: 40px;
  background-color: #fafafa;
}
